version: '3.7'
networks:
  mojaloop-net:
    name: mojaloop-net
services:
  reporting-hub-bop-shell:
    container_name: reporting-hub-bop-shell
    image: mojaloop/reporting-hub-bop-shell
    build:
      context: .
      cache_from:
        - mojaloop/reporting-hub-bop-shell
    environment:
      - AUTH_API_BASE_URL=/
      - AUTH_MOCK_API=true
      - REMOTE_API_BASE_URL=/
      - REMOTE_MOCK_API=false
      - LOGIN_URL=https://your-login-url
      - LOGOUT_URL=https://your-logout-url
      - AUTH_ENABLED=true
      - REMOTE_1_URL=http://localhost:8081
      - REMOTE_2_URL=http://localhost:8082
    ports:
      - '8080:8080'
    networks:
      - mojaloop-net
    healthcheck:
      test: 'wget -q http://172.17.0.1:8080 -O /dev/null || exit 1'
      timeout: 20s
      retries: 30
      interval: 15s
  psql:
    profiles: ["ory"]
    image: 'postgres:13.2'
    restart: unless-stopped
    environment:
      POSTGRES_USER: ory-user
      POSTGRES_PASSWORD: ory-pass
      POSTGRES_DB: ory-data
    ports:
      - '5432:5432'
    networks:
      - mojaloop-net
  kratos-migrate:
    profiles: ["ory"]
    depends_on:
      - psql
    image: 'oryd/kratos:v0.7.1-alpha.1'
    restart: on-failure
    command: migrate -c /etc/config/kratos/kratos.yml sql -e --yes
    environment:
      DSN: >-
        postgres://ory-user:ory-pass@psql:5432/ory-data?sslmode=disable&max_conns=20&max_idle_conns=4
      LOG_LEVEL: debug
    volumes:
      - type: bind
        source: ./docker/kratos
        target: /etc/config/kratos
    networks:
      - mojaloop-net
  kratos:
    depends_on:
      - kratos-migrate
    image: 'oryd/kratos:v0.7.1-alpha.1'
    restart: unless-stopped
    command: serve -c /etc/config/kratos/kratos.yml --dev
    environment:
      DSN: >-
        postgres://ory-user:ory-pass@psql:5432/ory-data?sslmode=disable&max_conns=20&max_idle_conns=4
      LOG_LEVEL: trace
      SERVE_PUBLIC_BASE_URL: 'http://127.0.0.1:4455/.ory/kratos/public/'
    volumes:
      - type: bind
        source: ./docker/kratos
        target: /etc/config/kratos
    ports:
      - '4433:4433'
      - '4434:4434'
    networks:
      - mojaloop-net
  kratos-selfservice-ui-node:
    depends_on:
      - kratos
    image: 'oryd/kratos-selfservice-ui-node:v0.7.1-alpha.1'
    environment:
      - 'JWKS_URL=http://oathkeeper:4456/.well-known/jwks.json'
      - 'KRATOS_PUBLIC_URL=http://kratos:4433/'
      - 'KRATOS_ADMIN_URL=http://kratos:4434/'
      - 'KRATOS_BROWSER_URL=http://127.0.0.1:4455/.ory/kratos/public'
      - PORT=4435
      - SECURITY_MODE=jwks
    networks:
      - mojaloop-net
  mailslurper:
    image: 'oryd/mailslurper:latest-smtps'
    ports:
      - '4436:4436'
      - '4437:4437'
    networks:
      - mojaloop-net
  oathkeeper:
    depends_on:
      - psql
    image: 'oryd/oathkeeper:v0.38.14-beta.1'
    restart: unless-stopped
    command: serve --config=/etc/config/oathkeeper/oathkeeper.yml
    environment:
      LOG_LEVEL: debug
      LOG_LEAK_SENSITIVE_VALUES: 'true'
      TRACING_PROVIDER: jaeger
      TRACING_SERVICE_NAME: Oathkeeper
      TRACING_PROVIDER_JAEGER_SAMPLING_SERVER_URL: 'http://jaeger:5778/sampling'
      TRACING_PROVIDER_JAEGER_LOCAL_AGENT_ADDRESS: 'jaeger:6831'
      TRACING_PROVIDER_JAEGER_SAMPLING_TYPE: const
      TRACING_PROVIDER_JAEGER_SAMPLING_VALUE: 1
    volumes:
      - type: bind
        source: ./docker/oathkeeper
        target: /etc/config/oathkeeper
    ports:
      - '4455:4455'
      - '4456:4456'
    networks:
      - mojaloop-net
