.layout__container {
  .rc-layout__side-menu {
    flex-basis: 200px;
    transform: translateX(-100%);
    opacity: 0.5;
    animation: fadeInMenu 0.3s ease-out forwards;
  }

  .rc-layout__navbar {
    transform: translateY(-100%);
    opacity: 0.5;
    animation: fadeInNavbar 0.3s ease-out forwards;
    flex: 0 0 55px;
    width: 100%;
    user-select: none;
    height: 55px;
    background: #00a3ff;
    border-bottom: 5px solid #fde74c;
    background-image: url('/public/hero-bg-interior.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: border-box;
    display: flex;
    align-items: center;
  }

  .rc-layout__navbar__controls {
    margin-left: 140px;
  }

  .rc-layout__navbar__logo {
    background-image: url('/public/mojaloop-white.png');
    background-size: 141px 60px;
    background-repeat: no-repeat;
    width: 141px;
    height: 60px;
    margin-left: 10px;
    margin-top: 5px;
    position: absolute;
  }

  .rc-layout__navbar__logo {
    background-image: url('/public/mojaloop-white.png');
    background-size: 126px 45px;
    background-repeat: no-repeat;
    width: 126px;
    height: 45px;
    margin-right: 10px;
    margin-top: 5px;
    position: absolute;
  }

  .navbar__email-icon {
    width: 50px;
    height: 50px;
  }
}
.home-route-container {
  background-image: url('/public/bg-body-transparent.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 20px;
  opacity: 0.8;
  z-index: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInNavbar {
  0% {
    transform: translateY(-100%);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInMenu {
  0% {
    transform: translateX(-100%);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.home-heading h3 {
  color: #911414;
  text-align: center;
  margin-bottom: 20px;
}

.home-text {
  text-align: center;
  color: #34495e;
  margin-bottom: 20px;
}

.home-config p {
  font-size: 16px;
  color: #34495e;
}

.home-heading h2,
.home-heading h1 {
  color: #911414;
}

.navbar__user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
